 * {
   outline: dotted 1px orange;
 }
    
    /* base styles */
    body {
      font-family: helvetica;
    }

    body {
      background-color:#874642;
    }

    img {
      display: block;
      width:auto;
      height: 200px;
    }