/* * {
   outline: dotted 1px orange;
 }
    */
    /* base styles */
    body {
      font-family: helvetica;
    }

    body {
      background-color:#874642;
    }
    img {
      border: 3px solid #009e6d;
      border-radius: 20px;
      max-height: 200px;
      max-width: 25%;
      margin: 1.5%;
      vertical-align: middle;
    }
    #product-container {
      background-color: #43C4DD;
      padding-top: 10px;
      padding-bottom: 5px;
      text-align: center;
      width: 960px;
      margin: 0 auto;
    }